body{
	margin: 0px;
	background-color: #F9E79F;
	text-align: center;
}
h1, h3 {
    padding-top: 0px;
    text-align: center;
    color: white;
    margin-top: 0px;
    margin-bottom: 5px;
    letter-spacing: 5px;
}
h4 a:hover {
	background-color: white;
	color: #F1948A;
	font-weight: 100px;
}
h4 a {
	text-decoration: none;
}
main img {
    padding-bottom: 0px;
    width: 400px;
}
main {
    margin: 20px auto 0px;
    background-color: #F1948A;
    max-width: 800px;
    padding: 20px;
    border-radius: 30px;
}
footer{
	margin: 0px;
	padding-bottom: 50px;
	padding-top: 50px;
	background-color: white;
}
